$font-serif:'Merriweather', serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;


a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}



.App {
  background-color:  #f4f6f7;
}

.dark-App {
  background-color: #424242 ;
}

.green-App {
  background-color: #c8e6c9;
}

.grey-App {
  background-color: #fafafa;
}

.red-App {
  background-color: #ffcdd2;
}

.purple-App {
  background-color: #e1bee7;
}

.indigo-App {
  background-color: #e8eaf6;
}
select,option {
  color: #ebebeb !important;
  box-shadow: none !important;
  margin: 5px 5px 5px 5px;
  height: auto;
  width: 1000px;

}

select,option:focus{
  box-shadow: none !important;
  box-decoration-break: unset !important;
}

.jumbotron{
  background-color: transparent;
  width: 100%;
  height: 20%;
}

.column {

  align-items: center;
  vertical-align: bottom;
  border: cornsilk;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

.slider {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;

}


.slide {
  transition: 2s;
}

%btn-styles {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  i {
    margin-right: 50%;
    color: rgba(7, 7, 7, 0.514);
  }
  &:hover {
    background-color: whitesmoke ;
    i {
    color: #49494963;
      }
  }
}
#goLeft {
  left: 0px;
  @extend %btn-styles;
}

#goRight {
  right: 0;
  @extend %btn-styles;
  }

  .stan-cards {
    color: transparent;
    background-color: #212121;
    i{
      font-size:6vw;
      width: auto;
      height: auto;
      background-color: transparent¸;
    }
  }

.headers{
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #227abd;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  .linethru{
    background-color: #f4f6f7;
    text-decoration: line-through;
    width: auto;
    color: rgba(49, 49, 49, 0.836);
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: rgba(7, 7, 7, 0.514);
  }
}

.dark-headers {
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #212121;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
  .linethru{
    background-color: #424242 ;
    text-decoration: line-through;
    width: auto;
    color: #ebebec;
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: rgba(7, 7, 7, 0.514);
  }
}

.green-headers {
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  .linethru{
    background-color: #c8e6c9;
    text-decoration: line-through;
    width: auto;
    color: rgba(49, 49, 49, 0.836);
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.grey-headers {
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #757575;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  .linethru{
    background-color: #fafafa;
    text-decoration: line-through;
    width: auto;
    color: rgba(49, 49, 49, 0.836);
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: rgba(7, 7, 7, 0.514);
  }
}

.red-headers {
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #e53935;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  .linethru{
    background-color: #ffcdd2;
    text-decoration: line-through;
    width: auto;
    color: rgba(49, 49, 49, 0.836);
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: rgba(7, 7, 7, 0.514);
  }
}

.purple-headers {
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #8e24aa;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  .linethru{
    background-color: #e1bee7;
    text-decoration: line-through;
    width: auto;
    color: rgba(49, 49, 49, 0.836);
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: rgba(7, 7, 7, 0.514);
  }
}

.indigo-headers {
  font-size:5vw;
  width: auto;
  height: auto;
  font-weight: 20px;
  color: rgba(190, 190, 190, 0.836);
  background-color: #3949ab;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  .linethru{
    background-color: #e8eaf6;
    text-decoration: line-through;
    width: auto;
    color: rgba(49, 49, 49, 0.836);
  }
  i{
    font-size:6vw;
    width: auto;
    height: auto;
    background-color: rgba(7, 7, 7, 0.514);
  }
}


.brand-logo {
  color: rgb(235, 235, 235) !important;
  font-size: 5vw;
  width: auto;
  height: auto;
  font-weight: 1000 !important;
  border-radius: 20%;
 &:hover {
   text-decoration: none;
   color: white;
 }
}

.theme-tag {
  width: 10%;
  margin-top: 0px;
  padding: 5px 8px;
  height: 100%;
  background-color: transparent;
  border-color: #e8eaf6;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
  box-shadow: none;
  &:focus {
    outline: none;
  }
}

.country-tag {
  position: relative;
  width: 200px;
  margin: 25px 50px 25px 50px;
  padding: 5px 8px;
  height: 50px;
  color: #000000 !important;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}

.filter-tag {
  position: relative;
  width: 200px;
  padding: 5px 8px;
  margin-left: 100px;
  margin-right: 50px;
  color: #000000 !important;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}


.navcolor {
  background-color: #004f8c;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.dark-navcolor {
  background-color: #212121;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
}

.green-navcolor {
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.grey-navcolor {
  background-color: #757575;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.red-navcolor {
  background-color: #b71c1c;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.purple-navcolor {
  background-color: #8e24aa;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.indigo-navcolor {
  background-color: #3949ab;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

.slow{
  transition: 2s;
}

// .foot {
//   background-color: #004f8c !important;
//   background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
// }

// .dark-foot {
//   background-color: #212121;
//   background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
// }

// .green-foot {
//   background-color: #008c41;
//   background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
// }

// .grey-foot {
//   background-color: #bdbdbd;
//   background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
// }

// .red-foot {
//   background-color: #b71c1c;
//   background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
// }

// .purple-foot {
//   background-color: #8e24aa;
//   background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
// }

// .indigo-foot {
//   background-color: #3949ab;
//   background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
// }

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(94, 94, 94);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(185, 185, 185);
}

.searchTerm:focus{
  color: rgb(94, 94, 94);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(94, 94, 94);
  background: rgb(94, 94, 94);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.datepicker {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

}

.stan-indexcard {
  background-color: #004f8c;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
  height: 100%;
  width: 100%;
}

.dark-indexcard {
  background-color: #212121 ;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

.green-indexcard {
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

.grey-indexcard {
  background-color: #757575;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

.red-indexcard {
  background-color: #7c1c1b;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

.purple-indexcard {
  background-color: #8e24aa;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

.indigo-indexcard {
  background-color: #3949ab;
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

%page-styles {
  position: relative;
  top: 100%;
  width: 13%;
  height: 40px;
  background: none;
  border: solid 1px #212121;
  outline: none;
  i {
    margin-right: 50%;
    color: rgba(7, 7, 7, 0.514);
  }
  &:hover {
    background-color: #212121 ;
    color: rgba(190, 190, 190, 0.836);
    i {
    color: #f4f6f7;
      }
  }
}
.goPrevious {
  left: 0px;
  @extend %page-styles;
}

.goNext {
  right: -100;
  @extend %page-styles;
  }

.mapouter {
  margin-left: 5px;
  position:relative;
  text-align:right;
  height:500px;
  width: 400px;;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:400px;
}



#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

div.mod-polaroid {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 400px;
  &:hover {
    .descontent {
    display: block;
    transform: translateY(0);
  transition: transform 2s;
    }
    .top-right {
      display: none;
    }
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
      color: #ffffff;
      background-color: #303030b4;
    }
    .linkchevron {
      display: block;
    }
  }
}

div.polaroid {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 500px;
  cursor: pointer;
  &:hover {
    .descontent {
    display: block;
    transform: translateY(0);
  transition: transform 2s;
    }
    .top-right {
      display: none;
    }
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
      color: #ffffff;
      background-color: #303030b4;
    }
    .linkchevron {
      display: block;
    }
    .date {
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

div.pol-container {
  text-align: center;
  display: block;
  font-size: 18px;

}

.descontent {
  text-decoration: none !important;
  text-align: center;
  font-weight: 300;
  display: none;
  font-size: 12px;
  transition: transform 1s;
  margin-bottom: 10px;
  transform: translateY(calc(70px + 1em));
}

.top-right {
  position: absolute;
  color: #f4f6f7;
  background-color: #424242;
  padding: 5px 5px;
  border-radius: 50%;
  top: 8px;
  right: 16px;
}

.top-left1 {
  position: absolute;
  color: #000000;
  background-color: #ffffffab;
  padding: 5px 5px;
  border-radius: 50%;
  top: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: #303030b4;
}

.linkchevron{
  display: none;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

#stan-card {
  background-color:  #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#dark-card {
  background-color: #212121;
  color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#green-card {
  background-color: #008c41;
  color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#grey-card {
  background-color: #757575;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#red-card {
  background-color: #e53935;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#purple-card {
  background-color: #8e24aa;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#indigo-card {
  background-color: #7986cb;
  color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}


.button {
  border: none;
  color: #666666 !important;
  padding: 8px 16px;
  text-align: center;
  text-decoration: underline;
  display: block;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 2vw;
  margin-bottom: 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  border: none;
  color: #666666 !important;
  padding: 8px 16px;
  text-align: center;
  text-decoration: underline;
  display: block;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 10vw;
  margin-bottom: 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  text-decoration: underline;
}



.no-container {
  position: relative;
  display: none;
}

.lar-container {
  position: relative;
  display: block;
  &:hover {
    .lp__gridItem__text {
    background: rgba(255, 255, 255, 0.925);
    }
  }
}

.search-container {
  position: fixed;
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.616); /* Black w/ opacity */
  display: flex;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  border: 3px solid #000;
  font-size: 35px;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(139, 139, 139);
  background-color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.con-content {
  max-width: 88%;
  margin: auto;
  min-height: 500px;
  box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.2);
  background: #ffffff; 
  background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 35%, #f6f5f2 35%, #f6f5f2 35%, #f6f5f2 100%); 
  background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 35%,#f6f5f2 35%,#f6f5f2 35%,#f6f5f2 100%);
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 35%,#f6f5f2 35%,#f6f5f2 35%,#f6f5f2 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f5f2',GradientType=1 ); 
  transform: scale(0.9);
  
}

.lp__grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
}

.lp__gridItem__image {
  background: #ccc;
  grid-row: 1/4;
  grid-column: 1/3;
  height: 340px;
  background: url('https://images.unsplash.com/photo-1484972759836-b93f9ef2b293?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')no-repeat center center;
}
.lp__gridItem__text {
  height: auto;
  width: 100%;
  grid-row: 5/5;
  grid-column: 5/5;
  text-align: center;
  background: rgba(255, 255, 255, 0.247);
  &:hover {
    .lp__gridItem__text {
    background: rgba(255, 255, 255, 0.925);
    }
  }
}
.lp__gridItemText-sm {
  font-size: 32px;
  text-align: center;
  color: rgb(59, 41, 16) !important;
}
.lp__gridItemText-sm-bw {
  color: #545454;
  text-align: center;
}
.lp__gridItemText-md {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.54;
  font-family: $font-serif;
  text-align: center;
}

// Base styles

  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }

  .modSlider {
    width:100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
   
  }

  .modSlide {
    min-width: 100%;
    height: 80vh;
    transition: 2s;
    &:hover {
      .lp__gridItem__text {
      background: rgba(255, 255, 255, 0.925);
      }
    }
}

%mod-btn-styles {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: none;
  border: solid 1px rgba(245, 245, 245, 0.342);;
  outline: none;
  transition: 0.5s;
  i {
    margin-right: 50%;
    color: rgba(245, 245, 245, 0.342);
    left: 50%;
  }
  &:hover {
    background-color: whitesmoke ;
    i {
    color: #49494963;
      }
  }
}
#mod-goLeft {
  left: 0px;
  @extend %mod-btn-styles;
}

#mod-goRight {
  right: 0;
  @extend %mod-btn-styles;
  }

  .stan-cards {
    color: transparent;
    background-color: #212121;
    i{
      font-size:6vw;
      width: auto;
      height: auto;
      background-color: transparent¸;
    }
  }

  .nosidenav{
    display: none;
  }

  #Sidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  &:hover {
    left: 0;
  }
}
  
  #about {
    top: 20px;
    background-color: #4CAF50;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3;
  }
  
  #projects {
    top: 140px;
    background-color: #f44336;
  }
  
  #contact {
    top: 200px;
    background-color: #555
  }